# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Publish Web Output
*.Publish.xml
*.pubxml
*.azurePubxml

# Windows Store app package directory
AppPackages/

# Others
*.Cache
ClientBin/
![Ss]tyle[Cc]op.targets
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.publishsettings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini